---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Desarrollo de Software",
    description:
      "Construimos tu aplicación desde cero. Análisis de requerimientos, desarrollo, testing, deployment y publicación en app stores.",
    icon: "mdi:monitor-cellphone",
  },
  {
    title: "Personalizable",
    description:
      "Apuntamos a la creación de servicios customizables que generen valor agregado y resuelvan las tareas de manera óptima.",
    icon: "mdi:feather",
  },
  {
    title: "Soluciones a medida",
    description:
      "Además de contar con nuestro catálogo de servicios, podrás solicitar productos en relación a las necesidades de tu empresa.",
    icon: "mdi:directions-fork",
  },
  {
    title: "Amplia Integración",
    description:
      "Nuestros programas cuentan con una amplia compatibilidad en cuanto a integración se refiere. Un software, muchas posibilidades.",
    icon: "mdi:graph",
  },
  {
    title: "Optimizado para SEO",
    description:
      "Los mapas de sitio automáticos, las fuentes RSS, la paginación y las colecciones simplifican el SEO y la sindicación.",
    icon: "mdi:search-web",
  },
  {
    title: "Comunidad",
    description:
      "El vínculo con nuestros clientes es fundamental y se refleja en la participación en nuestros foros y canales de ayuda.",
    icon: "mdi:account-group",
  },
];
---

<ContentSection title="Servicios" id="servicios">
  <Fragment slot="lead">
    Nuestros <span class="text-orange-400">profesionales</span> calificados te asesorarán en las 
    <span class="text-orange-400">áreas</span>
    más demandadas del mercado. Atención <span class="text-orange-400">personalizada </span> 24/7.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
