---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Productos" id="productos">
  <Fragment slot="lead">
    Creamos programas <span class="text-primary">a medida</span>.{" "} Nuestros
    <span class="text-primary">servicios</span> son 100%{" "}
    <span class="text-primary">personalizables</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="#">
        ...y más &rarr;
      </a>
    </p>
  </div>
</ContentSection>
